<!DOCTYPE html>
<html>

<head>
  <style>
    /* Center align the content vertically */
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }


    /* Style for the bright red button */
    .red-button {
      background-color: #ff0000;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    }
  </style>
</head>

<body>

  <div class="container text-center">

    <p class="h3  font-weight-normal">FREE: Brand New On-Demand Class Reveals ...</p>
    <h1 class="display-5 font-weight-bold">How To [GOOD] Without [BAD]</h1>
    <p class="lead">This Class Is Available Instantly ...No Waiting.</p>
    <!-- Bootstrap primary button -->
    <button class="btn btn-danger btn-lg red-button"><b>Let Me In!</b></button>
  </div>

</body>

</html>
